<%- include('partials/_header') -%>

<body>
  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= blog.title %></h1>
            <h2 class="subheading"><%= blog.detail %></h2>
            <span class="meta"><%= blog.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <h2 class="section-heading"><%= blog.title %></h2>

          <p><%= blog.detail %></p>
        </div>
        <div class="col-xl-4 col-lg-5">
          <!-- UPDATE - DELETE -->
          <div class="tm-bg-gray tm-share-box">
            <div class="text-center">
              <a href="/blogs/edit/<%= blog._id %>" class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>UPDATE</span></a>
            
              <a href="/blogs/<%= blog._id %>?_method=DELETE" class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"
                onclick="return confirm('ARE YOU SURE?')"><span>DELETE</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>

</body>

</html>
